body{
    margin: 0px;
    padding: 0px;
    background-color:aliceblue
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
    

}
.flex-container > div
{

    height: 100px;
    width: 100px;
    margin: 1px;
    padding: 1px;
    
}